#navbar{
   pointer-events: auto;
   font-size: 14px;
   position: fixed; 
   height: 20px; 
   top: 5px; 
   right: 5px; 
   color: rgba(0,0,0,0.5);
}


#navmenu {
    /* re-enable clicking */
    pointer-events: auto;
    position: fixed;
    left: -250px;
    color: #fff;
    background-color: #000;
    height: 100vh;
    padding: 5px;
    transition: all 0.5s ease-in-out;

}

#menubutton:focus ~ #navmenu{
    left: 0px;
}

#navmenu:hover{
    left: 0px;
}

#timebar {
    font-size: 3px;
}

#menubutton {
    /* re-enable clicking */
    pointer-events: auto;
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: #fff;
}

#menubutton i{
    padding: 3px;
    padding-top: 5px;
}

#navmenu li {
    background: #333;
    text-size: 1.5em;
    margin-bottom: 2px;
}

div.notes {
    display: none;
}

#notebox:checked ~ div.notes{
    color: green;
    display: block;
    position: static;
    font-size: 16px;
    float: right;
    border: 1px solid black;
    background-color: rgba(255, 239, 0, 0.5);
}
