#navbar{
   pointer-events: auto;
   font-size: 14px;
   position: fixed; 
   height: 20px; 
   top: 5px; 
   right: 5px; 
   color: rgba(0,0,0,0.5);
}


#navmenu {
    /* re-enable clicking */
    pointer-events: auto;
    position: fixed;
    left: -250px;
    color: #fff;
    background-color: #000;
    height: 100vh;
    padding: 5px;
    transition: all 0.5s ease-in-out;

}

#menubutton:focus ~ #navmenu{
    left: 0px;
}

#navmenu:hover{
    left: 0px;
}

#timebar {
    font-size: 3px;
}

#menubutton {
    /* re-enable clicking */
    pointer-events: auto;
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: #fff;
}

#menubutton i{
    padding: 3px;
    padding-top: 5px;
}

#navmenu li {
    background: #555;
    text-size: 1.5em;
    margin-bottom: 2px;
}

div.notes {
    background-color: #ffcc00;
    display: none;
    font-size: 18px;
    position: absolute;
    margin: auto;
    bottom: 10%;

}

