/* Custom CSS File for the impress presentation */
/* To add Google Fonts, one option is to use @import(url('')); if you do, it must go before all other declarations except @charset
 * another option is to create a font source block. This will allow you to have a local fallback. It also allows Truetype fallbacks an so on.
 *
 *
 *
 * An example block below 
 * @font-face {
 * font-family: 'Satisfy';
 *  font-style: normal;
 *  font-weight: 400;
 *  src: local('Satisfy') url(http://themes.googleusercontent.com/static/fonts/satisfy/v4/tmRzDlQs5wZmOn9mIuLa-QLUuEpTyoUstqEm5AMlJo4.woff) format('woff'),
 *  local('Satisfy') url('Satisfy.woff') format('woff'); 
 * }
 *
 *
 * */


/* Tag Markup */
.step{
    display: block;
    width: 80vw;
    height: 90vh;
}

.cursive {
    font-family: cursive;
}
/* Impress-related markup */
.impress-enabled .step.active {
    background-color: #fff;:
}

/* make the non-active steps transparent */
.step:not(.active) { opacity: 0.33; }

/* Per-slide Markup uses .impress-on-slideID */
.impress-on-talkAnatomy{
    /*remember that this is in the css directory */
    background-image: url('../img/flickrsaltonlinetools.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}
.impress-on-OLearyGraphTurtle{
    /*remember that this is in the css directory */
    background-image: url('../img/turtles.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}
.impress-on-schemasandOwl{
 /*remember that this is in the css directory */
    background-image: url('../img/superfamoussilo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}
.impress-on-schemasandOwl2{
 /*remember that this is in the css directory */
    background-image: url('../img/superfamousdoor.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}

.impress-on-overview div:hover{
    opacity: 1;
    background-color: #fff;
}
/* specific divs */
#title h1{
    font-size: 48px;
    font-family: cursive;
    text-align: center;
}
#title h2{
    font-size:36px;
    font-family: sans-serif;
} 
#title #authorInfo{
    position: relative;
    top: 10%;
    left: 10%;
}

#title #logos {
    position: absolute;
    bottom: 0;
    font-size: 10px;
}
#title #logos ul{

}
#talkAnatomy {
    background: none;
}
#talkAnatomy ol{
    list-style-type: lower-roman;
    list-style-position: inside;
}
#talkAnatomy li{
    background-color: #3BAFDA;
    margin-top: 10%;
}
#meaningtriangle img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -218px;
    margin-left: -270px;
}
#meaningtriangle span{
    position: absolute;
    top: 0;
}
#vocabulary p{
    width: 75%;
    font-size: 28px;
}
#voctaxont h1 {
    color: #fff;
}
#voctaxont ul {
    position: absolute;
    left: 10%;
    width: 80%;
    top: 20%;
}
#voctaxont li {
    margin-bottom: 3%;
    background-color: #FFCE54;
    font-size: 36px;
    padding-left: 1%;
}
#taxonomy p{
    position: absolute;
    text-align: center;
    font-family: monospace;
    bottom: 10%;
    left: 30%;
}

#taxonomy img{
    position: absolute;
    left: 50%;
    margin-left: -294px;
}
#triple p{
    font-size: 64px;
    text-align: justify;
    font-family: monospace;
}
#triple table{
    border: 1px solid black;
    text-align: center;
    border-collapse: none;
    position: absolute;
    left: 10%;
    bottom: 10%;
}
#triple table tr td {
    margin: 1px;
}
#triple span.predicate, #triple table tr th:hover, #triple table tr th:hover ~ #triple table tr td {
    background-color: rgba(255, 128,128, 0.66);
}
#triple span.subject, #triple table tr.subject:hover {
    color: green;
}
#triple span.object, #triple table tr td.object:hover{
     background-color: rgba(128,128,255, 0.66);
}
#schemasandOwl{
    background-color: rgba(255,255,255,0.66);
}
#schemasandOwl div{
    width: 88%;
    float: left;
    margin: 1%;
}
#schemasandOwl img{
    height: 35%;
    position: absolute;
    right: 0;
    bottom: 0;
}

#schemasandOwl ul{
    list-style-type: circle;
    list-style-position: outside;
    
}
#schemasandOwl2{
    background-color: rgba(255,255,255,0.66);
}
#schemasandOwl2 div{
    width: 48%;
    float: left;
    margin: 1%;
}
#schemasandOwl2 ul{
    list-style-type: circle;
    list-style-position: outside;
    
}
#gatheringData{
    background-image: url('../img/consumebustart.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}

#sparql {
    text-align: left;
    font-family: monospace;
}
#sparql div.notes {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}
#sparql div.notes iframe{
    border: 2px dashed #888;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -360px;
    bottom: 50%;
    margin-bottom: -180px;
}
#sparql h1{
    text-align: center;
}
#sparql img {
    margin-right: 1%;
    float: left;
    height: 100%;
}

#voctaxont {
    background-image: url('../img/jaymantriTriangles.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}

#FerdinandFoch {
    background-image: url('../img/fochcard.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}

#FerdinandFoch p{
    position: absolute;
    bottom: 5%;
    background-color: rgba(200,200,200,0.5);
    text-align: center;
}

#consumingandenriching{
    background-image: url('../img/alicjacolonfingersnap.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}
#LOD {
    background-image: url('../img/LODCloud.svg');
    background-repeat: no-repeat;
    background-position: center;
}
#LOD span{
    position: absolute;
    top: 0;
}
#lodwww {
    background-image: url('../img/robots.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;
}
#enrichingAPoster {
    background-color: rgb(190,180,170);
}
#enrichingAPoster img {
    height: 90%;
    position: absolute;
    left: 30%;
}
#OLearyGraph img{
    position: absolute;
    height: 90%;
    right: 10%;
}
#OLearyGraphTurtle{
    background-color: rgba(255,255,255,0.66);
}

#OLearyGraphTurtle p{
    font-size: 24px;
    font-family: monospace;
}
#posterGraph{
    font-size: 18px;
}
#posterGraph table tr td{
    background-color: rgba(160, 150, 190, 0.66);
}
#LOD img{
    height: 85%;
}
#openness img {
    height: 100%;
}
#openness div {
    width: 40%;
    float: right;
}
#publishing h1{
    float: right;
}
#whatToPublish ul{
    position: absolute;
    left: 35%;
    top: 25%;
}
#whatToPublish ul{
    text-align: right;
}
#openness ul {
    list-style-type: circle;
}
#void img {
height:600px;
position: absolute;
left: 50%;
margin-left: -300px;
}
#RDFa {
    font-size: 24px;
}
#RDF img{
    height: 100%;
}
#endpoint{
    /*remember that this is in the css directory */
    background-image: url('../img/jaymantridonotenter.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}
#enrichingContent{
    /*remember that this is in the css directory */
    background-image: url('../img/cashcoins.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}
#RDFaRevealed p {
    font-size: 18px;
    font-family: monospace;
}
span.mono {
    font-family: monospace;
}

.caption {
    font-style: bold;
    font-size: 10px;
    text-align: right;
}

#RDF svg circle:hover{
    fill: blue;
}
