/* Custom CSS File for the impress presentation */
/* To add Google Fonts, one option is to use @import(url('')); if you do, it must go before all other declarations except @charset
 * another option is to create a font source block. This will allow you to have a local fallback. It also allows Truetype fallbacks an so on.
 *
 *
 *
 * An example block below 
 * @font-face {
 * font-family: 'Satisfy';
 *  font-style: normal;
 *  font-weight: 400;
 *  src: local('Satisfy') url(http://themes.googleusercontent.com/static/fonts/satisfy/v4/tmRzDlQs5wZmOn9mIuLa-QLUuEpTyoUstqEm5AMlJo4.woff) format('woff'),
 *  local('Satisfy') url('Satisfy.woff') format('woff'); 
 * }
 *
 *
 * */


/* Tag Markup */
.step{
    display: block;
    width: 80vw;
    height: 90vh;
}
/* Impress-related markup */
.impress-enabled .step.active {
    background-color: #fff;:
}

/* make the non-active steps transparent */
.step:not(.active) { opacity: 0.33; }

/* Per-slide Markup uses .impress-on-slideID */
.impress-on-talkAnatomy{
    /*remember that this is in the css directory */
    background-image: url('../img/flickrsaltonlinetools.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}
/* specific divs */
#title h1{
    font-size: 48px;
    font-family: cursive;
    text-align: center;
}
#title h2{
    font-size:36px;
    font-family: sans-serif;
}
#vocabulary p{
    width: 75%;
    font-size: 36px;
}

#lodwww {
    background-image: url('../img/robots.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}
#enrichingAPoster {
    background-color: #ccc;
}
#enrichingAPoster img {
    height: 90vh;
    position: absolute;
    left: 30%;
}
#olearyGraph img{
    max-height: 90vh;
}
#posterGraph{
    font-size: 18px;
}
#openness img {
    height: 100%;
}
#openness div {
    width: 40%;
    float: right;
}

span.mono {
    font-family: monospace;
}

.caption {
    font-style: bold;
    font-size: 10px;
    text-align: right;
}
